@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------------------
Default
-----------------------------------------------*/
.App {
  font-family: sans-serif;
  text-align: center;
}

.question-section {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  width: 92vw;
}

.question-align {
  align-items: center;
  display: flex;
  min-height: 10px;
  text-align: left;
}

.question-align h4 {
  margin-left: 8px;
}

.question-styling {
  font-size: 17px;
  width: 100%;
}

.question-icon {
  background: none;
  border: none;
  color:  rgb(0, 134, 97);
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  margin-right: 8px;
}

.rotate {
  transform: rotate(45deg);
}

.answer-divider {
  border-top: 1px solid lightgray;
}

.answer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Thin.eot');
  src: url('fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-Thin.woff2') format('woff2'),
      url('fonts/Raleway-Thin.woff') format('woff'),
      url('fonts/Raleway-Thin.ttf') format('truetype'),
      url('fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-ExtraLight.eot');
  src: url('fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-ExtraLight.woff2') format('woff2'),
      url('fonts/Raleway-ExtraLight.woff') format('woff'),
      url('fonts/Raleway-ExtraLight.ttf') format('truetype'),
      url('fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Black.eot');
  src: url('fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-Black.woff2') format('woff2'),
      url('fonts/Raleway-Black.woff') format('woff'),
      url('fonts/Raleway-Black.ttf') format('truetype'),
      url('fonts/Raleway-Black.svg#Raleway-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.eot');
  src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-Bold.woff2') format('woff2'),
      url('fonts/Raleway-Bold.woff') format('woff'),
      url('fonts/Raleway-Bold.ttf') format('truetype'),
      url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-ExtraBold.eot');
  src: url('fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-ExtraBold.woff2') format('woff2'),
      url('fonts/Raleway-ExtraBold.woff') format('woff'),
      url('fonts/Raleway-ExtraBold.ttf') format('truetype'),
      url('fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Light.eot');
  src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-Light.woff2') format('woff2'),
      url('fonts/Raleway-Light.woff') format('woff'),
      url('fonts/Raleway-Light.ttf') format('truetype'),
      url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.eot');
  src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-Medium.woff2') format('woff2'),
      url('fonts/Raleway-Medium.woff') format('woff'),
      url('fonts/Raleway-Medium.ttf') format('truetype'),
      url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.eot');
  src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-Regular.woff2') format('woff2'),
      url('fonts/Raleway-Regular.woff') format('woff'),
      url('fonts/Raleway-Regular.ttf') format('truetype'),
      url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-SemiBold.eot');
  src: url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Raleway-SemiBold.woff2') format('woff2'),
      url('fonts/Raleway-SemiBold.woff') format('woff'),
      url('fonts/Raleway-SemiBold.ttf') format('truetype'),
      url('fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue-Regular.eot');
  src: url('fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/BebasNeue-Regular.woff2') format('woff2'),
      url('fonts/BebasNeue-Regular.woff') format('woff'),
      url('fonts/BebasNeue-Regular.ttf') format('truetype'),
      url('fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  @apply font-normal text-light_black font-raleway text-sm lg:text-base;
}
body.menu-opened{
  @apply overflow-hidden lg:overflow-auto;
}
h1, .h1{
  @apply text-4xl lg:text-[70px] font-bebas_neue leading-snug lg:leading-[80px] font-normal;
}
h2, .h2{
  @apply text-3xl md:text-4xl lg:text-[56px] font-bebas_neue leading-snug lg:leading-[66px] font-normal;
}
h3, .h3{
  @apply text-[28px] lg:text-[40px] font-bebas_neue leading-snug lg:leading-[48px] font-normal;
}
h4, .h4{
  @apply text-xl md:text-2xl font-bebas_neue leading-8 font-normal;
}
.button{
  @apply inline-flex align-top justify-center items-center py-2 lg:py-2 px-2 font-semibold bg-blue hover:bg-green text-white rounded min-w-[170px] md:min-w-[200px] transition-all duration-300 hover:no-underline;
}
.button span{
  @apply bg-red w-6 h-6
}
.container{
  @apply max-w-[1600px] px-[15px] md:px-5;
}

.sec_heading{
  @apply mb-1.5 text-blue
}

/* --------------------------------------------
Header
-----------------------------------------------*/
.ehZgCO {
  position: relative;
  z-index: 1;
  background-image: url(https://webapi.salata.com/wp-content/uploads/2019/02/hero-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hhYEgQ {
  padding: 0px;
}
.fNyDxz {
  width: 100%;
  margin: 0px auto;
}
.ivcRdx {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
}
.ivcRdx {
  height: 495px;
}

.kQYhzH {
  flex: 1 0 auto;
  max-width: 494px;
  padding-right: 36px;
  width: 100%;
}

.ivcRdx {
    height: 495px;
}

.ivcRdx {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
}
.emzPNh {
  font-family: "GT Eesti", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  line-height: 1;
  letter-spacing: 0.32px;
  text-transform: none;
  margin: 0px;
  color: rgb(0, 134, 97);
}
.iugMuM {
  height: 670px;
  transform: translateY(65px);
  z-index: 1;
}
.iugMuM img {
  height: 100%;
  width: auto;
}
.bfHgUz {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.hBaJiS {
    width: 100%;
    margin: 0px auto;
    max-width: 1272px;
    padding-left: 18px;
    padding-right: 18px;
}
.header-top{
  @apply lg:pt-2.5 lg:pb-[7px] shadow-[0px_0px_3px_rgba(0,0,0,0.16)] relative z-0
}
.header-top:before{
  @apply content-none lg:content-[''] absolute bottom-1.5 lg:bottom-[15px] left-0 right-0  h-[18px] lg:h-[22px] xl:h-[33px] -z-[1]
}
.logo{
  @apply w-[220px] lg:w-[300px] xl:w-[456px] pt-1 lg:pt-0 -ml-[7px]
}
.logo img{
  @apply w-full
}
.app-link{
  @apply hidden lg:flex flex-row items-center pb-0.5 lg:mb-[29px] xl:mb-[46px] relative lg:-top-1 xl:top-0;
}
.app-link a{
  @apply ml-6 flex items-center flex-row justify-center bg-black rounded-md border border-[#A6A6A6] w-[135px] h-10 text-[9px] text-white leading-none;
}
.app-link a img{
  @apply w-[21px] mr-2 min-w-[21px]
}
.app-link a b{
  @apply font-semibold block text-sm
}
.navigation{
  @apply bg-blue text-white;
}
.navigation ul.main-nav{
  @apply flex flex-col lg:flex-row fixed lg:relative -right-full lg:right-auto top-[62px] lg:top-auto bottom-0 lg:bottom-auto bg-white lg:bg-transparent z-50 lg:z-auto w-full lg:w-auto max-w-full sm:max-w-[360px] lg:max-w-none overflow-x-hidden overflow-y-auto lg:overflow-visible transition-all ease-in-out duration-200 lg:-ml-2.5;
}
.menu-opened .navigation ul.main-nav{
  @apply right-0
}
.navigation ul.main-nav > li{
  @apply lg:border-r border-white lg:hover:bg-dark_red;
}
.navigation ul.main-nav > li > a{
  @apply pr-6 border-b border-b-[#d9d9d9] lg:border-b-0 w-full ;
}
.navigation ul.main-nav > li.group > a{
  @apply after:content-none lg:after:content-[''] after:border-t-4 after:border-t-white after:border-l-4 after:border-l-transparent after:border-r-4 after:border-r-transparent after:absolute after:top-1/2 after:right-2.5 after:-mt-0.5;
}
.navigation ul.main-nav a{
  @apply text-light_black lg:text-white font-semibold lg:font-normal text-base px-5 lg:px-2.5 leading-[50px] uppercase relative inline-block align-middle;
}
.navigation .social-links li:last-child{
  @apply mr-0;
}
.navigation .submenu{
  @apply lg:absolute lg:top-full lg:left-0 lg:z-10 lg:bg-dark_red lg:w-[225px] transition-all duration-300 lg:max-h-0 overflow-hidden;
}
.navigation ul.main-nav > li:last-child .submenu{
  @apply left-auto right-0;
}
.navigation ul.main-nav > li:hover .submenu{
  @apply max-h-60;
}
.navigation .submenu a{
  @apply w-full lg:hover:bg-dark_red border-b border-b-[#d9d9d9] lg:border-b-0 w-full;
}
.navigation ul.main-nav .submenu a{
  @apply pl-10 lg:pl-5;
}

.menu-btn{
  @apply w-11 h-[61px] border-l border-transparent relative lg:hidden;
}
.menu-opened .menu-btn{
  @apply border-[#d9d9d9]
}
.menu-btn span, .menu-btn span:after, .menu-btn span:before{
  @apply absolute w-[25px] h-[3px] bg-blue block content-[''] right-0;
}
.menu-btn span:after{
  @apply transition-all ease-in-out duration-200 -bottom-[7px] ml-0;
}
.menu-btn span:before{
  @apply transition-all ease-in-out duration-200 -top-[7px] ml-0;
}
.menu-opened .menu-btn span{
  @apply bg-transparent;
}
.menu-opened .menu-btn span:before{
  @apply transform rotate-45 top-0 bg-red;
}
.menu-opened .menu-btn span:after{
  @apply transform -rotate-45 bottom-0 bg-red;
}

.store-locator-link{
  @apply lg:hidden ml-auto mr-3.5;
}
.store-locator-link svg{
  @apply w-5;
}

.menu-opened{
  @apply overflow-hidden lg:overflow-visible
}


/* --------------------------------------------
Breadcrumb
-----------------------------------------------*/
.breadcrumb ul{
  @apply flex flex-wrap md:flex-row items-center leading-5 md:leading-10 text-[10px] md:text-sm pt-2 pb-2 md:py-0;
}
.breadcrumb ul li{
  @apply align-middle text-red font-medium md:font-normal;
}
.breadcrumb ul li svg{
  @apply w-3 md:w-5
}
.breadcrumb ul li a{
  @apply inline-flex items-center min-h-[20px] md:h-10 align-top text-light_black hover:underline after:w-1 after:md:w-1.5 after:h-1 after:md:h-1.5 after:transform after:rotate-45 after:border-r after:border-t after:mx-1 after:md:mx-2.5 after:border-light_black transition-all duration-300; 
}

/* --------------------------------------------
Hero Area
-----------------------------------------------*/
.hero{
  @apply relative pt-4 md:pt-8 pb-[34px] md:pb-12 z-0 text-white text-sm lg:text-2xl font-semibold lg:font-normal after:absolute after:top-0 after:left-0 after:bottom-0 after:right-0 after:bg-black after:bg-opacity-60 after:-z-[1];
}
.hero .hero-img{
  @apply absolute top-0 left-0 w-full h-full object-cover object-left -z-[1];
}
.hero p{
  @apply my-2
}
.hero .cta_btn{
  @apply mt-6
}
.hero .cta_btn .button{
  @apply bg-white text-blue text-base hover:bg-dark_red hover:text-white leading-8
}

/* --------------------------------------------
Location information
-----------------------------------------------*/
.store-phone.w3w{
  @apply flex items-center min-h-[20px] md:min-h-[30px]
}
.store-phone.w3w svg{
  @apply -top-1 md:top-0
}
.location-information{
  @apply pt-6 lg:pt-9 pb-5 lg:pb-[34px];
}
.store-time-status{
  @apply text-blue;
}

.store-time-status strong{
  @apply text-red font-normal;
}
.boxes{
  @apply flex flex-wrap -mx-[15px] sm:-mx-2.5 lg:-mx-[15px];
}
.boxes .location_details{
  @apply flex flex-wrap w-full xl:w-[900px] 2xl:w-[945px]
}
.box{
  @apply px-[15px] sm:px-2.5 lg:px-[15px];
}
.box.store-info{
  @apply w-full md:w-[370px] lg:w-1/2 xl:w-[430px];
}
.box.store-timing{
  @apply w-full md:w-[calc(100%_-_370px)] lg:w-1/2 xl:w-[470px] 2xl:w-[515px] mt-2.5 md:mt-0;
}
.box.store-social{
  @apply w-full mt-5 lg:mt-[30px];
}
.box.map-info{
  @apply w-full mt-5 lg:mt-[30px] xl:mt-0 xl:w-[calc(100%_-_900px)] 2xl:w-[calc(100%_-_945px)];
}
.box .inner-box{
  @apply bg-black bg-opacity-[0.02] p-[15px] md:p-4 h-full;
}
.box.map-info .inner-box{
  @apply h-[230px] md:h-96 xl:h-full p-0 relative overflow-hidden;
}
.box h4{
  @apply border-b-2 border-b-red pb-0 md:pb-2 mb-[15px] md:mb-5;
}
.store-address{
  @apply relative pl-5 md:pl-9 mb-4 min-h-[34px] flex items-center flex-wrap;
}
.store-address .button{
  @apply mt-2.5
}
.store-address h2{
  @apply font-raleway text-base leading-6 m-0 p-0;
}
.store-address h2 a{
  @apply hover:underline
}
.store-address svg{
  @apply absolute top-0 md:top-1 left-0 w-3.5 md:w-auto;
}

.store-phone{
  @apply relative pl-5 md:pl-9 mb-6 inline-block w-full align-top;
}
.store-phone a{
  @apply  transition-all duration-300 hover:underline
}
.store-phone svg, .store-phone img{
  @apply absolute top-0 left-0 w-3.5 md:w-auto;
}
.store-phone img{
  @apply w-[22px]
}

.store-link{
  @apply flex flex-wrap justify-center md:justify-between;
}
.store-link a{
  @apply inline-flex align-top justify-center items-center py-2 px-2 font-semibold;
}
.store-link .direction{
  @apply bg-red hover:bg-dark_red text-white rounded w-[calc(50%_-_5px)] xl:w-[170px] transition-all duration-300;
}
.store-link .call-store{
  @apply w-[calc(50%_-_5px)] xl:w-[188px] bg-red hover:bg-dark_red text-white rounded ml-2.5 md:ml-0 transition-all duration-300;
}
.store-link a svg{
  @apply mr-1.5 w-4 md:w-auto fill-white;
}
.store-link .call-store svg{
  @apply h-[15px]
}

.other-services{
  @apply mt-6 md:mt-6;
}
.other-services .service-row{
  @apply flex flex-row leading-6 items-center mb-4 last:mb-0;
}
.other-services .service-row label{
  @apply font-semibold w-[115px] md:w-[135px];
}
.other-services .service-row .status{
  @apply bg-green text-xs md:text-sm leading-6 md:leading-6 min-w-[85px] text-center px-1.5 text-white rounded tracking-widest ml-auto;
}
.other-services .service-row .status.offline{
  @apply bg-blue
}
.other-services .service-row .avability{
  @apply w-[60px] text-white text-center text-xs md:text-sm rounded bg-green leading-6 md:leading-6;
}
.other-services .service-row .avability.no{
  @apply bg-red
}
.available-on{
  @apply flex flex-wrap justify-between items-end mt-[18px];
}
.order-btn{
  @apply inline-flex align-top justify-center items-center py-2 px-4 sm:px-6 font-semibold bg-blue hover:bg-dark_blue text-white rounded;
}
.order-btn svg{
  @apply mr-2.5
}
.available-option{
  @apply text-left w-full;
}
.available-option h5{
  @apply font-semibold text-base md:text-base leading-7;
}
.available-option ul{
  @apply flex flex-wrap;
}
.available-option ul li{
  @apply mt-2.5 mr-4 sm:mr-6 last:mr-0;
}
.available-option ul li img{
  @apply w-14 lg:w-[66px] transition-all duration-200 transform scale-100 hover:scale-105
}

.available-option.order-direct{
  @apply w-full flex mb-2.5
}
.available-option.order-direct ul{
  @apply ml-12
}
.available-option.order-direct ul li{
  @apply mt-0
}

.hours{
  @apply w-full;
}
.hours .time-row{
  @apply flex flex-row w-full first:font-semibold first:uppercase leading-9 pl-9 pr-1.5 flex-[1_1_auto];
}
.hours .time-row .store-times{
  @apply w-auto flex flex-row flex-[1_1_auto] justify-between
}
.hours .time-row .day{
  @apply pl-1 flex-[1_1_auto] max-w-[10rem];
}
.hours .time-row .store-time{
  @apply pl-1;
}
.hours .time-row .closed{
  @apply w-full ;
}
.hours .time-row .delivery-time{
  @apply pl-1;
}
.hours .time-row.currentDay{
  @apply text-white bg-blue relative before:w-3.5 before:h-2 before:border-l-2 before:border-l-white before:border-b-2 before:border-b-white before:transform before:-rotate-45 before:absolute before:top-3 before:left-2.5;
}
.hours .time-row .closed{
  @apply text-red font-semibold
}
.additional-text{
  @apply mt-2.5 pt-2.5 border-t border-t-[#d9d9d9]
}

.box.store-social .inner-box{
  @apply bg-blue flex items-center justify-between py-2
}
.box.store-social h4{
  @apply m-0 p-0 border-0 text-white
}
.box.store-social .social-links{
  @apply flex;
}
.box.store-social .social-links li{
  @apply mr-0 ml-4 md:ml-6 first:ml-0;
}
.box.store-social .social-links li a{
  @apply w-auto h-auto
}
.box.store-social .social-links li a svg{
  @apply h-5
}


/* --------------------------------------------
About
-----------------------------------------------*/
.about-sec{
  @apply bg-black bg-opacity-[0.02] pt-4 md:pt-8 pb-5 md:pb-9;
}
.about-content{
  @apply leading-6 md:leading-7;
}
.about-content .cta_btn{
  @apply flex justify-center md:justify-start w-full mt-5 md:mt-[30px];
}

/* --------------------------------------------
Food List
-----------------------------------------------*/
.food-list{
  @apply pt-5 pb-0 lg:pt-14 lg:pb-10;
}
.food-list.center-4 .splide__arrows{
  @apply xl:hidden
} 
.food-list.center-4 .splide__list{
  @apply xl:justify-center
}

.food-list .splide li{
  @apply px-0 sm:px-[15px];
}
.food-list .splide .slide-img{
  @apply inline-block w-full h-0 pt-[100%] overflow-hidden relative rounded-2xl my-5 shadow-[0px_0px_16px_rgba(1,1,1,0.18)] transition-all duration-200 ease-in-out;
}
.food-list .splide li:not(.is-active) .slide-img{
  @apply transform scale-90 sm:scale-100 opacity-50 sm:opacity-100 bg-white;
}
.food-list .splide .slide-img img{
  @apply w-full h-full object-contain object-center absolute top-0 left-0 transition-all duration-300 scale-100 hover:scale-105 px-5 pb-10;
}
.food-list .splide h4{
  @apply absolute bottom-0 left-0 w-full bg-blue text-white text-center font-raleway font-semibold text-sm sm:text-base uppercase py-3 transition-all duration-300;
}

.splide .splide__arrows .splide__arrow{
  @apply w-10 h-10 transition-all bg-red disabled:bg-[#FBE8E6] lg:bg-[#FBE8E6] lg:hover:bg-red hover:opacity-100 opacity-100 disabled:opacity-70 disabled:hover:bg-[#FBE8E6]; 
}
.splide .splide__arrows .splide__arrow.splide__arrow--next{
  @apply right-8 sm:right-1 md:-right-0.5 2xl:-right-1;
}
.splide .splide__arrows .splide__arrow.splide__arrow--prev{
  @apply left-8 sm:left-1 md:-left-0.5 2xl:-left-1;
}
.splide .splide__arrows .splide__arrow svg{
  @apply fill-white lg:fill-light_black;
}
.splide .splide__arrows .splide__arrow:disabled:hover svg{
  @apply lg:fill-light_black;
}
.splide .splide__arrows .splide__arrow:disabled svg{
  @apply fill-light_black
}
.splide .splide__arrows .splide__arrow:hover svg{
  @apply lg:fill-white;
}
/* --------------------------------------------
App Promotion
-----------------------------------------------*/
.app_promotion-sec{
  @apply bg-black text-white relative overflow-hidden z-0 pb-3 lg:pb-0;
}
.app-bg{
  @apply absolute top-0 left-0 w-full h-full object-cover object-left opacity-[0.35] -z-[1]
}
.app_promotion-content{
  @apply relative z-0 text-sm lg:pr-5 lg:text-lg leading-6 lg:leading-7 text-center lg:text-left font-semibold py-4 max-w-full lg:max-w-[calc(100%_-_288px)];
}
.app_promotion-content h3{
  @apply mb-2 lg:mb-4 text-2xl lg:text-5xl leading-9;
}
.app_promotion-content p{
  @apply mb-3 lg:mb-4;
}
.app_promotion-content .small-text{
  @apply text-xs md:text-base;
}
.app_promotion-content h5{
  @apply font-bold text-xl leading-7;
}

.get-app-link{
  @apply flex mx-auto w-full mt-[30px] lg:mt-[50px];
}
.get-app-link ul{
  @apply flex flex-row w-full justify-center lg:justify-start
}
.get-app-link li{
  @apply mr-[18px] last:mr-0 lg:mr-5 last:lg:mr-0 w-[calc(100%_-_9px)] sm:w-auto;
}
.get-app-link li a img{
  @apply transition-all duration-300 transform scale-100 hover:scale-105
}

.ios-btn{
  @apply rounded-[5px] border border-red bg-red py-2.5 px-2 sm:px-4 inline-flex items-center justify-center text-white text-base font-bold uppercase w-full sm:min-w-[170px] lg:min-w-[180px] transition-all duration-300 transform scale-100 hover:scale-105;
}
.ios-btn svg{
  @apply w-[22px] lg:w-7 h-[22px] lg:h-7 mr-2.5
}

.android-btn{
  @apply rounded-[5px] border border-white bg-white py-2.5 px-2 sm:px-4 inline-flex items-center justify-center text-blue text-base font-bold uppercase w-full sm:min-w-[170px] lg:min-w-[180px] transition-all duration-300 transform scale-100 hover:scale-105;
}
.android-btn svg{
  @apply w-[22px] lg:w-7 h-[22px] lg:h-7 mr-2.5
}


.app_promotion-sec .phone-img{
  @apply hidden lg:flex flex-col pt-5;
}
.app_promotion-sec .phone-img img{
  @apply mt-auto align-bottom
}


/* --------------------------------------------
FAQ's
-----------------------------------------------*/

.faq-sec{
  @apply py-5 lg:py-[60px]
}
.faq-sec .container{
  @apply max-w-[1240px]
}
.faq-blocks{
  @apply px-4 lg:px-[50px] py-2 lg:py-[60px] flex flex-wrap items-start max-w-[1200px] mx-auto shadow-[3.5px_6.06px_10px_rgba(1,1,1,0.18)] lg:shadow-[3.5px_6.06px_21px_rgba(1,1,1,0.18)] rounded-[5px] lg:rounded-[30px] justify-between mt-6 lg:mt-11
}
.faq-blocks .left-faq{
  @apply w-full lg:w-[calc(50%_-_30px)]
}
.faq-blocks .right-faq{
  @apply w-full lg:w-[calc(50%_-_30px)]
}
.faq-blocks .faq-block{
  @apply w-full border-b border-b-blue border-opacity-10;
}
.faq-blocks .faq-block:last-child{
  @apply border-b-0
}
.faq-blocks .left-faq .faq-block:last-child{
  @apply border-b lg:border-b-0
}

.faq-blocks .faq-block h4{
  @apply text-base lg:text-xl text-light_black mt-0 font-raleway font-medium lg:font-semibold py-4 pr-10 relative leading-6 lg:leading-7 cursor-pointer select-none
}
.faq-blocks .faq-block h4 .faq-icon{
  @apply absolute top-4 right-0 border lg:border-2 border-blue w-5 lg:w-7 h-5 lg:h-7 rounded-full z-10;
}
.faq-blocks .faq-block h4 .faq-icon:before{
  @apply content-[''] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-2 lg:w-3 h-[1px] lg:h-0.5 bg-blue
}
.faq-blocks .faq-block h4 .faq-icon:after{
  @apply content-[''] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-2 lg:h-3 w-[1px] lg:w-0.5 bg-blue
}
.faq-blocks .faq-block.opened h4 .faq-icon:after{
  @apply opacity-0
}


.faq-blocks .faq-block .faq-content{
  @apply max-h-0 overflow-hidden;
}
.faq-blocks .faq-block.opened .faq-content{
  @apply pb-5 max-h-96;
}
.faq-blocks .faq-block .faq-content a{
  @apply text-red;
}

/* --------------------------------------------
Nearby Sec
-----------------------------------------------*/
.nearby-sec{
  @apply pt-5 pb-5 lg:pt-14 lg:pb-10 overflow-hidden;
}
.nearby-sec .splide li{
  @apply px-[15px] sm:px-11 xl:px-[15px];
}
.nearby-sec .near-location{
  @apply p-4 lg:p-6 2xl:p-8 h-[calc(100%_-_2.5rem)] rounded-2xl shadow-[0px_0px_10px_rgba(1,1,1,0.18)] xl:shadow-[3.5px_6.06px_21px_rgba(1,1,1,0.18)] my-5 transition-all duration-300 transform scale-100 xl:hover:scale-105 z-0 relative;
}
.nearby-sec .near-location h4{
  @apply font-raleway font-semibold text-base md:text-[17px] lg:text-xl mb-4;
}
.nearby-sec .near-location h4 a{
  @apply hover:text-blue
}
.near-location .store-link{
  @apply justify-start mt-4;
}
.near-location .store-link .direction{
  @apply py-2 md:py-3 w-[calc(50%_-_5px)] min-w-0 2xl:min-w-[200px];
}
.near-location .store-link .view-details{
  @apply py-2 leading-6 md:py-3 w-[calc(50%_-_5px)] min-w-0 2xl:min-w-[200px] bg-red hover:bg-dark_red text-white rounded ml-2.5 transition-all duration-300;
}

.nearby-sec #splide-nearby{
  @apply sm:max-w-xl mx-auto xl:max-w-full
}
.nearby-sec .splide__track{
  @apply xl:overflow-visible
}
.nearby-sec .splide__list{
  @apply xl:justify-center
}
.nearby-sec .splide__pagination{
  @apply relative bottom-0 lg:mt-5;
}
.nearby-sec .splide__pagination li{
  @apply p-0
}
.nearby-sec .splide__pagination li .splide__pagination__page{
  @apply w-2 lg:w-3 h-2 lg:h-3 bg-blue opacity-30;
}
.nearby-sec .splide__pagination li .splide__pagination__page.is-active{
  @apply scale-100 opacity-100;
}
.nearby-sec .splide .splide__arrows .splide__arrow.splide__arrow--prev{
  @apply xl:hidden  -left-2.5 sm:left-0 -mt-[7.5px] lg:-mt-[14px] xl:mt-0;
}
.nearby-sec .splide .splide__arrows .splide__arrow.splide__arrow--next{
  @apply xl:hidden -right-2.5 sm:right-0 -mt-[7.5px] lg:-mt-[14px] xl:mt-0;
}

/* --------------------------------------------
Social Links
-----------------------------------------------*/
.social-links{
  @apply hidden lg:inline-flex flex-wrap items-center leading-none; 
}
.social-links li{
  @apply mx-3;
}
.social-links a{
  @apply inline-flex w-5 h-5 items-center justify-center align-middle transition-all duration-200 opacity-100 transform scale-100 hover:scale-110;
}


/* --------------------------------------------
Newsletter
-----------------------------------------------*/
.newsletter{
  @apply bg-[#E5E5E5]
}
.newsletter .newsletter-form h3{
  @apply text-[28px] lg:text-3xl lg:mr-11 mb-3 lg:mb-0;
}
.newsletter .newsletter-form{
  @apply pt-4 pb-5 lg:py-2.5 flex items-center flex-col lg:flex-row justify-center
}
.newsletter .newsletter-form .form-group{
  @apply max-w-[660px] w-full relative
}
.newsletter .newsletter-form .input-box{
  @apply bg-white w-full text-sm lg:text-xl text-black leading-6 lg:leading-8 placeholder:text-black placeholder:opacity-50 py-2 lg:py-3.5 pl-4 lg:pl-5 pr-12 lg:pr-16 outline-none;
}
.newsletter .newsletter-form .submit{
  @apply absolute top-0.5 lg:top-[5px] right-0.5 lg:right-[5px] bg-red hover:bg-dark_red text-white text-sm lg:text-xl font-semibold uppercase w-10 lg:w-[50px] h-9 lg:h-[50px] transition-all duration-300;
}


/* --------------------------------------------
Footer
-----------------------------------------------*/
.site-footer{
  @apply bg-footer_bg text-white py-5 lg:py-9 lg:pb-5 text-xs lg:text-sm leading-loose;
}
.site-footer a{
  @apply transition-all duration-300 hover:underline
}
.newsletter{
  @apply text-center py-[15px]
}
.signup-newsletter{ 
  @apply bg-red text-white hover:bg-dark_red hover:!no-underline py-2.5 lg:py-[13px] px-4 font-semibold inline-block align-middle transition-all duration-300 w-full text-center max-w-[260px] lg:max-w-[300px] rounded;  
}

.site-footer .footer-links{
  @apply flex flex-wrap flex-row lg:flex-col justify-center lg:justify-start mb-3 lg:mb-0 uppercase leading-[27px]
}
.site-footer .footer-links li{
  @apply after:content-['|'] after:mx-2.5 last:after:content-none lg:after:content-none;
}
.footer-address{
  @apply text-center max-w-md px-4 mx-auto lg:mx-0;
}
.footer-address p{
  @apply leading-[22px] lg:leading-[27px] first:text-sm first:lg:text-base first:font-semibold
}
.site-footer .social-links{
  @apply flex w-full text-center justify-center mt-5 lg:mt-0;
}
.site-footer .social-links a:hover{
  @apply no-underline
}
#reactele {
  @apply flex flex-col min-h-screen
}
.site-footer{
  @apply mt-auto
}

/* */

.storelocation-category{ @apply px-2 w-1/2 sm:w-1/3 lg:w-1/4 xl:w-1/4 2xl:w-1/4 mb-4 p-4  }
.storelocation-category a{ @apply  justify-center flex border border-[#eee] p-4 w-full rounded-xl transition-all transform hover:scale-[1.09] hover:bg-dark_red hover:text-white  }
.four-sec{@apply py-32 lg:py-40 text-center  text-xl font-normal leading-6  mb-4}  

.four-sec p { @apply w-full inline-block mt-4}
.btn-no{ @apply my-8  px-4 py-2.5 bg-dark_blue hover:bg-dark_red text-white rounded w-auto inline-block transition-all duration-300;}


.CookieConsent{    background: rgb(255, 253, 253)!important; @apply  !right-5 !bottom-0 text-sm lg:!w-[100%] bg-opacity-80 lg:!right-5 lg:!left-auto    }
#rcc-confirm-button{ background:#588300 !important ;}



@media screen and (min-width: 750px) and (max-width: 767px){
  .box.store-info{
    @apply w-[370px];
  }
  .box.store-timing{
    @apply w-[calc(100%_-_370px)] mt-0;
  }  
}
@media screen and (max-width: 374px){
  .logo{
    @apply w-[180px]
  }
  .hours .time-row{
    @apply pl-8
  }
  .hours .time-row .day{
    @apply w-[calc(100%_-_10rem)]
  }
  .hours .time-row .store-time{
    @apply w-[4.5rem];
  }
  .hours .time-row .delivery-time{
    @apply w-[4.5rem];
  }

  .store-link .direction{
    @apply w-auto
  }
  /* .store-link .call-store{
    @apply w-auto
  } */
  .other-services .service-row .avability{
    @apply mr-1
  }
  .hours .time-row{
    @apply text-xs leading-9
  }

  .box.store-social h4{
    @apply text-lg
  }
  .box.store-social .social-links li{
    @apply ml-1
  }
  .box.store-social .social-links li a svg{
    @apply h-4
  }

  .android-btn, .ios-btn{
    @apply text-sm
  }

  .near-location .store-link .direction{
    @apply w-full
  }
  .near-location .store-link .view-details{
    @apply w-full ml-0 mt-2.5
  }
  
}




@media screen and (max-width: 350px){
  .store-link .call-store{
    @apply w-auto
  }
}
/* /////// */
.fl-node-o3svrmhyla7d {
  width: 13%;
}
.fl-col {
  float: left;
  min-height: 1px;
}
.fl-builder-content *, .fl-builder-content *:before, .fl-builder-content *:after {
  
  box-sizing: border-box;
}
.fl-node-2ugrovmcawh1 {
  width: 24%;
}
.fl-col {
  float: left;
  min-height: 1px;
}
.fl-builder-content *, .fl-builder-content *:before, .fl-builder-content *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.viewMore:hover {color: rgb(0 134 97 / var(--tw-text-opacity))}
.bXcGGt {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 40px 0px;
  text-align: left;
  background-color: white;
}
.CoRhA {
  font-family: "GT Eesti", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0px;
  text-transform: none;
  margin: 0px;
  color: rgb(93, 95, 96);
  font-size: 14px;
  padding: 40px 30px;
}
.cEABiC {
  position: relative;
  z-index: 1;
  cursor: pointer;
 
}

